# Emacs backup files
*~
*#
.#*
# Vim file artifacts
.*.sw*
# installed platform-specific binaries
/bin
/config
.DS_Store
.project
# omit Go vendor directories
vendor/

/fabcar/javascript/yelp_photos
fabcar/javascript/package-lock.json
